#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

# This installs nix-direnv for users that don't already have it.
if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi

# Pull in a generic elixir flake template
use flake "github:the-nix-way/dev-templates?dir=elixir"

# Add our own customisations on top
use flake

# Local Variables:
# mode: envrc-file
# End:
